body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    flex: auto;
}

#newsfeed {
    font-weight: bold;
    margin-bottom: 5px;
}

.friend {
    font-weight: bold;
    margin-bottom: 5px;
}

.timeStamp {
    font-size: 12px;
    color: #777;
    margin-bottom: 5px;
}

.feeling {
    margin-bottom: 10px;
}

.postImage {
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  float: right;
  margin: 5px;
}

.friend .timeStamp .feeling {
    display: block;
}

#postFormContainer {
    margin-top: 20px;
}

#postForm {
    margin-bottom: 10px;
}

#postForm textarea {
    width: 100%;
    resize: vertical; /* 縦方向のみリサイズ可能にする */
}


.userProfile {
    flex: initial;
}

li {
    list-style-type: none;
    padding: 10px;
}

header {
    position: fixed;
    background-color: #89c7de;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
}

footer {
    width: 100%;
    background-color: #89c7de;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

.createrInfo {
    text-align: end;
    padding-right: 15px;
    margin: 0;
}

main {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    float: right;
    padding-left: 20%;
    padding-top: 80px;
}


aside {
    width: 20%;
    background-color: aliceblue;
    position: fixed; 
    top: 80px; /* ヘッダーの高さ分下げる */
    bottom: 0; /* フッターまで広げる */
    overflow-y: auto; /* サイドバーがコンテンツに収まらない場合にスクロールさせる */
    float: left;
}

.feelingRadio:checked + label {
    background-color: yellow; /* 選択したラベルの背景色を変更 */
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  .popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1001;
  }

.postCard {
  padding: 20px;
  margin: 5px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 25% 10%;
  background-color: mintcream;
}

@keyframes infinity-scroll-right {
  from {
    transform: translateX(-100%);
  }
    to {
    transform: translateX(100%);
  }
}
.scroll-infinity__wrap {
  width: 100%;
  background-color: white;
  display: flex;
  overflow: hidden;
  padding: 0;
}
.scroll-infinity__list--right {
  animation: infinity-scroll-right 2s infinite linear 1s both;
}
section {
    height: 50px;
}
